# Vim
*.swp
*.swo

# NeoVim configuration
packer_compiled.lua

# oh-my-zsh
.oh-my-zsh

# tmux
.config/tmux/plugins
.config/tmux/resurrect

# Commitizen
package-lock.json
package.json

# Custom
.config/nvim/plugin/*
.config/DS_Store
