# Vim
*.swp
*.swo
Session.vim

# NeoVim configuration
nvim/.config/nvim/plugin

# oh-my-zsh
.oh-my-zsh

# tmux
tmux/.config/tmux/plugins
tmux/.config/tmux/resurrect

# Commitizen
package-lock.json
package.json

# node
node_modules

# Custom
.config/DS_Store
.zshrc_amadeus
